<%- include('partials/header'); -%>

    <div class="div">
        <div class="boxshadow">
            <div class="posttitle">
                <h1>Result</h1>
            </div>
        
            <div class="posttitle">
                <span>
                    <%= singlepost.date%>
                </span>
            </div>
            <div class="posttitle">
                <span class="title">
                    <%= singlepost.title%>
                </span>
            </div>
            <div class="posttitle">
                <span>
                    <%= singlepost.data%>
                </span>
            </div>
           
        </div>
    </div>
    <%- include('partials/footer'); -%>